<app-header></app-header>
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Laptops</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="./assets/images/laptop1.png" alt="">
                    </div>
                    <!----->
                    <button type="button" class="btn " data-toggle="modal" data-target="#myModal1">
                        <h2>Dell Inspiron 3501</h2>
                      </button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal1">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title" >Dell Inspiron 3501</h4><br>
                                  <img src="./assets/images/laptop1.png" alt="">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body">
                                   <b>Price:</b><ins>&#8377;42,000</ins> <del>&#8377;45,000</del><br>
                                    Cash on Delivery Eligible.<br>
                                    Shipping Speed to Delivery.<br>
                                    EMIs from &#8377;1000/month.<br>
                                    Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card<br>
                                    <p class="my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i>
                                        <b>1 Year Manufacturer Warranty</b>
                                        </p>
                                    <ul>
                                        
                                        <li class="mb-1">
                                            Intel core i5 8th Gen,Quad Core,1.6GHZ Clock speed.
                                            Warranty Card, User Guide
                                        </li>
                                        <li class="mb-1">
                                            8GB DDR4 RAM,1 TB Hard disk.
                                        </li>
                                        <li class="mb-1">
                                            256 GB SSD,2 GB Intel Graphic Card.
                                        </li>
                                        <li class="mb-1">
                                            13.3 inches,1920 x 1080 pixelx,Touch Screen.
                                        </li>
                                        <li class="mb-1">
                                            Windows 10 OS
                                        </li>
                                    </ul>
                                    <p class="my-sm-4 my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i><b>Net banking &amp; Credit/ Debit/ ATM card</b>
                                    </p>
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/laptops" (click)="al()">Add to cart</a>
                                </div>
                          
                              </div>
                            </div>
                          </div>
                      <!------>
                    <div class="product-carousel-price">
                        <ins>&#8377;42,000</ins> <del>&#8377;45,000</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/laptops" (click)="al()">Add to cart</a>
                    </div>                       
                </div>
            </div>
            <div class="col-4">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="./assets/images/Acer Aspire 5 Slim Laptop.jpg" alt="">
                    </div>
                    <!----->
                    <button type="button" class="btn " data-toggle="modal" data-target="#myModal2">
                        <h2>Acer Aspire 5 Slim </h2>
                      </button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal2">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title" >Acer Aspire 5 Slim </h4><br>
                                  <img src="./assets/images/Acer Aspire 5 Slim Laptop.jpg" alt="">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body">
                                   <b>Price:</b><ins>&#8377;54,440</ins> <del>&#8377;54,440</del><br>
                                    Cash on Delivery Eligible.<br>
                                    Shipping Speed to Delivery.<br>
                                    EMIs from &#8377;1000/month.<br>
                                    Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card<br>
                                    <p class="my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i>
                                        <b>1 Year Manufacturer Warranty</b>
                                        </p>
                                    <ul>
                                        
                                        <li class="mb-1">
                                            Intel core i5 8th Gen,Quad Core,1.6GHZ Clock speed.
                                            Warranty Card, User Guide
                                        </li>
                                        <li class="mb-1">
                                            8GB DDR4 RAM,1 TB Hard disk.
                                        </li>
                                        <li class="mb-1">
                                            256 GB SSD,2 GB Intel Graphic Card.
                                        </li>
                                        <li class="mb-1">
                                            13.3 inches,1920 x 1080 pixelx,Touch Screen.
                                        </li>
                                        <li class="mb-1">
                                            Windows 10 OS
                                        </li>
                                    </ul>
                                    <p class="my-sm-4 my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i><b>Net banking &amp; Credit/ Debit/ ATM card</b>
                                    </p>
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/laptops" (click)="al()">Add to cart</a>
                                </div>
                          
                              </div>
                            </div>
                          </div>
                      <!------>
                    <div class="product-carousel-price">
                        <ins>&#8377;54,440</ins> <del>&#8377;54,440</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/laptops" (click)="al()">Add to cart</a>
                    </div>                       
                </div>
            </div>
            <div class="col-4">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="./assets/images/Apple_macbook-pro-a1297.png" alt="">
                    </div>
                     <!----->
                     <button type="button" class="btn " data-toggle="modal" data-target="#myModal3">
                        <h2>Apple Macbook Pro A1297</h2>
                      </button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal3">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title" >Apple Macbook Pro A1297</h4><br>
                                  <img src="./assets/images/Apple_macbook-pro-a1297.png" alt="">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body">
                                   <b>Price:</b> <ins>&#8377;1,18,990</ins> <del>&#8377;1,18,990</del><br>
                                    Cash on Delivery Eligible.<br>
                                    Shipping Speed to Delivery.<br>
                                    EMIs from &#8377;1000/month.<br>
                                    Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card<br>
                                    <p class="my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i>
                                        <b>1 Year Manufacturer Warranty</b>
                                        </p>
                                    <ul>
                                        
                                        <li class="mb-1">
                                            Intel core i5 8th Gen,Quad Core,1.6GHZ Clock speed.
                                            Warranty Card, User Guide
                                        </li>
                                        <li class="mb-1">
                                            8GB DDR4 RAM,1 TB Hard disk.
                                        </li>
                                        <li class="mb-1">
                                            256 GB SSD,2 GB Intel Graphic Card.
                                        </li>
                                        <li class="mb-1">
                                            13.3 inches,1920 x 1080 pixelx,Touch Screen.
                                        </li>
                                        <li class="mb-1">
                                            Windows 10 OS
                                        </li>
                                    </ul>
                                    <p class="my-sm-4 my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i><b>Net banking &amp; Credit/ Debit/ ATM card</b>
                                    </p>
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/laptops" (click)="al()">Add to cart</a>
                                </div>
                          
                              </div>
                            </div>
                          </div>
                      <!------>
                    <div class="product-carousel-price">
                        <ins>&#8377;1,18,990</ins> <del>&#8377;1,18,990</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/laptops" (click)="al()">Add to cart</a>
                    </div>                       
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="./assets/images/dellvostro3590.jpg" alt="">
                    </div>
                    <!----->
                    <button type="button" class="btn " data-toggle="modal" data-target="#myModal4">
                        <h2>Dell Vostro 3590</h2>
                      </button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal4">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title" >Dell Vostro 3590</h4><br>
                                  <img src="./assets/images/dellvostro3590.jpg" alt="">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body">
                                   <b>Price:</b><ins>&#8377;54,990</ins> <del>&#8377;54,990</del><br>
                                    Cash on Delivery Eligible.<br>
                                    Shipping Speed to Delivery.<br>
                                    EMIs from &#8377;1000/month.<br>
                                    Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card<br>
                                    <p class="my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i>
                                        <b>1 Year Manufacturer Warranty</b>
                                        </p>
                                    <ul>
                                        
                                        <li class="mb-1">
                                            Intel core i5 8th Gen,Quad Core,1.6GHZ Clock speed.
                                            Warranty Card, User Guide
                                        </li>
                                        <li class="mb-1">
                                            8GB DDR4 RAM,1 TB Hard disk.
                                        </li>
                                        <li class="mb-1">
                                            256 GB SSD,2 GB Intel Graphic Card.
                                        </li>
                                        <li class="mb-1">
                                            13.3 inches,1920 x 1080 pixelx,Touch Screen.
                                        </li>
                                        <li class="mb-1">
                                            Windows 10 OS
                                        </li>
                                    </ul>
                                    <p class="my-sm-4 my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i><b>Net banking &amp; Credit/ Debit/ ATM card</b>
                                    </p>
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/laptops" (click)="al()">Add to cart</a>
                                </div>
                          
                              </div>
                            </div>
                          </div>
                      <!------>
                    <div class="product-carousel-price">
                        <ins>&#8377;54,990</ins> <del>&#8377;54,990</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/laptops" (click)="al()">Add to cart</a>
                    </div>                       
                </div>
            </div>
            <div class="col-4">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="./assets/images/HP-Laptop-14-HD-Screen-Intel-Celeron-N4020-Processor-4GB.jpg" alt="">
                    </div>
                    <!----->
                    <button type="button" class="btn " data-toggle="modal" data-target="#myModal5">
                        <h2>HP 14 Ryzen</h2>
                      </button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal5">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title" >HP 14 Ryzen</h4><br>
                                  <img src="./assets/images/HP-Laptop-14-HD-Screen-Intel-Celeron-N4020-Processor-4GB.jpg" alt="">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body">
                                   <b>Price:</b> <ins>&#8377;34,490</ins> <del>&#8377;34,490</del><br>
                                    Cash on Delivery Eligible.<br>
                                    Shipping Speed to Delivery.<br>
                                    EMIs from &#8377;1000/month.<br>
                                    Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card<br>
                                    <p class="my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i>
                                        <b>1 Year Manufacturer Warranty</b>
                                        </p>
                                    <ul>
                                        
                                        <li class="mb-1">
                                            Intel core i5 8th Gen,Quad Core,1.6GHZ Clock speed.
                                            Warranty Card, User Guide
                                        </li>
                                        <li class="mb-1">
                                            8GB DDR4 RAM,1 TB Hard disk.
                                        </li>
                                        <li class="mb-1">
                                            256 GB SSD,2 GB Intel Graphic Card.
                                        </li>
                                        <li class="mb-1">
                                            13.3 inches,1920 x 1080 pixelx,Touch Screen.
                                        </li>
                                        <li class="mb-1">
                                            Windows 10 OS
                                        </li>
                                    </ul>
                                    <p class="my-sm-4 my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i><b>Net banking &amp; Credit/ Debit/ ATM card</b>
                                    </p>
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/laptops" (click)="al()">Add to cart</a>
                                </div>
                          
                              </div>
                            </div>
                          </div>
                      <!------>
                    <div class="product-carousel-price">
                        <ins>&#8377;34,490</ins> <del>&#8377;34,490</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/laptops" (click)="al()">Add to cart</a>
                    </div>                       
                </div>
            </div>
            <div class="col-4">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="./assets/images/hpPavilionG6.jpg" alt="">
                    </div>
                    <!----->
                    <button type="button" class="btn " data-toggle="modal" data-target="#myModal6">
                        <h2>HP Pavilion G6 </h2>
                      </button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal6">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title" >HP Pavilion G6 </h4><br>
                                  <img src="./assets/images/hpPavilionG6.jpg" alt="">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body">
                                   <b>Price:</b><ins>&#8377;33,970</ins> <del>&#8377;33,970</del><br>
                                    Cash on Delivery Eligible.<br>
                                    Shipping Speed to Delivery.<br>
                                    EMIs from &#8377;1000/month.<br>
                                    Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card<br>
                                    <p class="my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i>
                                        <b>1 Year Manufacturer Warranty</b>
                                        </p>
                                    <ul>
                                        
                                        <li class="mb-1">
                                            Intel core i5 8th Gen,Quad Core,1.6GHZ Clock speed.
                                            Warranty Card, User Guide
                                        </li>
                                        <li class="mb-1">
                                            8GB DDR4 RAM,1 TB Hard disk.
                                        </li>
                                        <li class="mb-1">
                                            256 GB SSD,2 GB Intel Graphic Card.
                                        </li>
                                        <li class="mb-1">
                                            13.3 inches,1920 x 1080 pixelx,Touch Screen.
                                        </li>
                                        <li class="mb-1">
                                            Windows 10 OS
                                        </li>
                                    </ul>
                                    <p class="my-sm-4 my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i><b>Net banking &amp; Credit/ Debit/ ATM card</b>
                                    </p>
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/laptops" (click)="al()">Add to cart</a>
                                </div>
                          
                              </div>
                            </div>
                          </div>
                      <!------>
                    <div class="product-carousel-price">
                        <ins>&#8377;33,970</ins> <del>&#8377;33,970</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/laptops" (click)="al()">Add to cart</a>
                    </div>                       
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="./assets/images/lenovo ideapad C340.jpg" alt="">
                    </div>
                    <!----->
                    <button type="button" class="btn " data-toggle="modal" data-target="#myModal7">
                        <h2>Lenovo Ideapad C340</h2>
                      </button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal7">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title" >Lenovo Ideapad C340</h4><br>
                                  <img src="./assets/images/lenovo ideapad C340.jpg" alt="">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body">
                                   <b>Price:</b><ins>&#8377;54,999</ins> <del>&#8377;54,999</del><br>
                                    Cash on Delivery Eligible.<br>
                                    Shipping Speed to Delivery.<br>
                                    EMIs from &#8377;1000/month.<br>
                                    Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card<br>
                                    <p class="my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i>
                                        <b>1 Year Manufacturer Warranty</b>
                                        </p>
                                    <ul>
                                        
                                        <li class="mb-1">
                                            Intel core i5 8th Gen,Quad Core,1.6GHZ Clock speed.
                                            Warranty Card, User Guide
                                        </li>
                                        <li class="mb-1">
                                            8GB DDR4 RAM,1 TB Hard disk.
                                        </li>
                                        <li class="mb-1">
                                            256 GB SSD,2 GB Intel Graphic Card.
                                        </li>
                                        <li class="mb-1">
                                            13.3 inches,1920 x 1080 pixelx,Touch Screen.
                                        </li>
                                        <li class="mb-1">
                                            Windows 10 OS
                                        </li>
                                    </ul>
                                    <p class="my-sm-4 my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i><b>Net banking &amp; Credit/ Debit/ ATM card</b>
                                    </p>
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/laptops" (click)="al()">Add to cart</a>
                                </div>
                          
                              </div>
                            </div>
                          </div>
                      <!------>
                    <div class="product-carousel-price">
                        <ins>&#8377;54,999</ins> <del>&#8377;54,999</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/laptops" (click)="al()">Add to cart</a>
                    </div>                       
                </div>
            </div>
            <div class="col-4">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="./assets/images/lenovo ThinkPad X390.jpeg" alt="">
                    </div>
                    <!----->
                    <button type="button" class="btn " data-toggle="modal" data-target="#myModal8">
                        <h2>Lenovo ThinkPad X3901</h2>
                      </button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal8">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title" >Lenovo ThinkPad X3901</h4><br>
                                  <img src="./assets/images/lenovo ThinkPad X390.jpeg" alt="">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body">
                                   <b>Price:</b><ins>&#8377;60,000</ins> <del>&#8377;60,000</del><br>
                                    Cash on Delivery Eligible.<br>
                                    Shipping Speed to Delivery.<br>
                                    EMIs from &#8377;1000/month.<br>
                                    Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card<br>
                                    <p class="my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i>
                                        <b>1 Year Manufacturer Warranty</b>
                                        </p>
                                    <ul>
                                        
                                        <li class="mb-1">
                                            Intel core i5 8th Gen,Quad Core,1.6GHZ Clock speed.
                                            Warranty Card, User Guide
                                        </li>
                                        <li class="mb-1">
                                            8GB DDR4 RAM,1 TB Hard disk.
                                        </li>
                                        <li class="mb-1">
                                            256 GB SSD,2 GB Intel Graphic Card.
                                        </li>
                                        <li class="mb-1">
                                            13.3 inches,1920 x 1080 pixelx,Touch Screen.
                                        </li>
                                        <li class="mb-1">
                                            Windows 10 OS
                                        </li>
                                    </ul>
                                    <p class="my-sm-4 my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i><b>Net banking &amp; Credit/ Debit/ ATM card</b>
                                    </p>
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerlink="/categories/laptops" (click)="al()">Add to cart</a>
                                </div>
                          
                              </div>
                            </div>
                          </div>
                      <!------>
                    <div class="product-carousel-price">
                        <ins>&#8377;60,000</ins> <del>&#8377;60,000</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/laptops" (click)="al()">Add to cart</a>
                    </div>                       
                </div>
            </div>
            <div class="col-4">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="./assets/images/dellvostro3590.jpg" alt="">
                    </div>
                    <!----->
                    <button type="button" class="btn " data-toggle="modal" data-target="#myModal9">
                        <h2>Dell Vostro 3590</h2>
                      </button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal9">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title" >Dell Vostro 3590</h4><br>
                                  <img src="./assets/images/dellvostro3590.jpg" alt="">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body">
                                   <b>Price:</b> <ins>&#8377;54,990</ins> <del>&#8377;54,990</del><br>
                                    Cash on Delivery Eligible.<br>
                                    Shipping Speed to Delivery.<br>
                                    EMIs from &#8377;1000/month.<br>
                                    Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card<br>
                                    <p class="my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i>
                                        <b>1 Year Manufacturer Warranty</b>
                                        </p>
                                    <ul>
                                        
                                        <li class="mb-1">
                                            Intel core i5 8th Gen,Quad Core,1.6GHZ Clock speed.
                                            Warranty Card, User Guide
                                        </li>
                                        <li class="mb-1">
                                            8GB DDR4 RAM,1 TB Hard disk.
                                        </li>
                                        <li class="mb-1">
                                            256 GB SSD,2 GB Intel Graphic Card.
                                        </li>
                                        <li class="mb-1">
                                            13.3 inches,1920 x 1080 pixelx,Touch Screen.
                                        </li>
                                        <li class="mb-1">
                                            Windows 10 OS
                                        </li>
                                    </ul>
                                    <p class="my-sm-4 my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i><b>Net banking &amp; Credit/ Debit/ ATM card</b>
                                    </p>
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/laptops" (click)="al()">Add to cart</a>
                                </div>
                          
                              </div>
                            </div>
                          </div>
                      <!------>
                    <div class="product-carousel-price">
                        <ins>&#8377;54,990</ins> <del>&#8377;54,990</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/laptops" (click)="al()">Add to cart</a>
                    </div>                       
                </div>
            </div>
        </div>
</div>
<ul class="pagination pagination-lg justify-content-center" style="margin:20px 0px">
    <li class="page-item disabled"><a class="page-link" href="#"><span><<</span></a></li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#"><span>>></span></a></li>
</ul>

