
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=,h1., initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <!-- header section strats -->
   <header class="header_section">
    <div class="header_top">
      <div class="container-fluid">
        <div class="top_nav_container">
          <div class="contact_nav">
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call : +01 123455678990
              </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                Email : E-shop@gmail.com
              </span>
            </a>
          </div>
          <form class="search_form">
            <input type="text" class="form-control" placeholder="Search here..." #ref>
            <button class="" type="submit" (click)="test(ref.value)">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
          <div class="user_option_box">
            <a routerLink="/login" class="account-link">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>
                Login
              </span>
            </a>
            <a routerLink="/register" class="account-link">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>
                Register
              </span>
            </a>
            <a routerLink="/cart" class="cart-link">
              <i class="fa fa-shopping-cart" aria-hidden="true"><span class="badge badge-notify my-cart-badge">3</span></i>
              <span>
                Cart
              </span>
            </a>
          </div>
        </div>

      </div>
    </div>
    <div class="header_bottom">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="">
            <span>
              <img class="rounded-circle" src="./assets/images/icon1.png" alt="no img" height="40px" width="90px">
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ">
              <li class="nav-item ">
                <a class="nav-link" routerLink="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/categories/mobiles">
              <div class="dropdown">
                <button class="dropbtn">Categories</button>
                <div class="dropdown-content">
                  <a routerLink="/categories/mobiles" class="active">Mobiles</a>
                  <a routerLink="/categories/laptops">Laptops</a>
                  <a routerLink="/categories/watches">Watches</a>
                </div>
              </div>
              </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/checkout">Checkout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contactus">Contact us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/feedback">Reviews</a>
              </li>
              <!--<li class="nav-item">
                <a class="nav-link" href="/admindashboard">admin</a>
              </li>-->
              <!--<li class="nav-item">
                <a class="nav-link" href="/example">example</a>
              </li>-->
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
</body>
</html>
