<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 >LOGIN</h1>
          <form role="form" class="form-horizontal">
                    <div class="input-group mb-3">
                       <div class="input-group-prepend"><span class="input-group-text">Email id</span></div>
                       <input type="email" class="form-control" name="email" id="email" required>
                     </div>
                   <div class="input-group mb-3">
                      <div class="input-group-prepend"><span class="input-group-text">password</span></div>
                      <input type="password" class="form-control" name="password" id="password" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Login</button>
                  
                  <a href="/admindashboard" class="btn btn-danger">Admin Login</a>
          </form>
    </div>
</body>
</html>
<app-footer></app-footer>
