img{
    width:200px;
    height:200px;
}
button{
    background-color: green;
    color: white;
}
span{
    margin:7px;
}
input[type="text"]{
    width:70px;
    height: 35px;
    margin-left: 15px;
    margin-right: 10px;
    text-align: center;
    border:none;
}
@media(max-width:576px){
    table{
        width:400px;
    }
    img{
        width:50px;
        height:100px;
    }
}
@media(max-width:480px){
    table{
        width:350px;
    }
    img{
        width:50px;
        height:100px;
    }
}
