<app-admin-home></app-admin-home>
<div class="product">

<div class="container-fluid p-3">
    <h1 class="display-6">Products</h1>
    <hr>

    <div class="p-1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><img src="./assets/images/mobile1.jpg" alt="" srcset="" height="100px" class="rounded"></td>
                    <td>iphone 12 pro</td>
                    <td>mobile</td>
                    <td>₹ 1.15,000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><img src="./assets/images/lenovo ideapad C340.jpg" alt="" srcset="" height="100px" class="rounded"></td>
                    <td>Lenovo ideapad C340</td>
                    <td>Laptop</td>
                    <td>₹ 54,999</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><img src="./assets/images/Rolexwatch.png" alt="" srcset="" height="100px" class="rounded"></td>
                    <td>Rolex watch</td>
                    <td>watch</td>
                    <td>₹ 5,000</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><img src="./assets/images/Realme8pro.png" alt="" srcset="" height="100px" class="rounded"></td>
                    <td>Realme 8 pro</td>
                    <td>mobile</td>
                    <td>₹ 17,999</td>
                </tr>
                <tr>
                    <td>5
                    </td>
                    <td><img src="./assets/images/laptop1.png" alt="" srcset="" height="100px" class="rounded"></td>
                    <td>Dell Inspiron 3501</td>
                    <td>Laptop</td>
                    <td>₹ 44,000</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><img src="./assets/images/fitbit-watch-fastrack.png" alt="" srcset="" height="100px" class="rounded"></td>
                    <td>Fitbit watch by fastrack</td>
                    <td>watch</td>
                    <td>₹ 23,999</td>
                </tr>
            </tbody>
        </table>


    </div>
</div>
</div>
