<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<nav class="navbar navbar-dark sticky-top  flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink=''>E-shop</a>
    <input class="form-control " type="text" placeholder="Search" aria-label="Search">
    <form class="search_form">
        <button class="" type="submit" >
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/admindashboard">
                            <span data-feather="home"></span> Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/adminorders'>
                            <span data-feather="file"></span> Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/adminproduct'>
                            <span data-feather="shopping-cart"></span> Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/adminnewproduct'>
                            <span data-feather="shopping-cart"></span>New Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/admincustomer'>
                            <span data-feather="users"></span> Customers
                        </a>
                    </li>

                </ul>



            </div>
        </nav>

    
    </div>
</div>
</body>
</html>
