<app-admin-home></app-admin-home>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<div class="dash">
    <div class="border rounded p-3">
        <h1 class="display-7">Last 30 Days Summary</h1>
        <hr>
        <div class="row mx-auto p-3">
            <div class="col">
                <div class="card border-0 rounded" >
                    <div class="card-body text-white rounded" style="background-color: skyblue;">
                        <h5 class="card-title title">
                            User Registered
                        </h5>
                        <p class="card-text float-right display-8 pr-4">3</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 rounded" >
                    <div class="card-body text-white rounded" style="background-color: lightgreen;">
                        <h5 class="card-title title">
                            Orders
                        </h5>
                        <p class="card-text float-right display-8 pr-4">12</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 rounded" >
                    <div class="card-body text-white rounded" style="background-color: coral;">
                        <h5 class="card-title title">
                            Sell
                        </h5>
                        <p class="card-text float-right display-8 pr-4">Rs.24772</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="border rounded p-3">
        <h1 class="display-7">Over All</h1>
        <hr>
        <div class="row mx-auto p-3">
            <div class="col">
                <div class="card border-0 rounded" >
                    <div class="card-body text-white rounded" style="background-color: lightgreen;">
                        <h5 class="card-title title">
                            Products
                        </h5>
                        <p class="card-text float-right display-8 pr-4">5,613</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 rounded" >
                    <div class="card-body text-white rounded" style="background-color: coral;">
                        <h5 class="card-title title">
                            orders
                        </h5>
                        <p class="card-text float-right display-8 pr-4">2,324</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 rounded" >
                    <div class="card-body text-white rounded" style="background-color: skyblue;">
                        <h5 class="card-title title">
                            customers
                        </h5>
                        <p class="card-text float-right display-8 pr-4">1,345</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="border rounded p-3 mt-2">
        <h1 class="display-7">Products sold in last 5 months</h1>
        <hr>
        <img src="./assets/images/graph.png" width="1000px" height="500px">
    </div>
</div>
<br>
<br>
<br>
<br>
</body>
</html>