<app-header></app-header>
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Watches</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="./assets/images/slider-img.png" alt="">
                    </div>
                    <!---->
                    <button type="button" class="btn " data-toggle="modal" data-target="#myModal1">
                        <h2>Smart Watches</h2>
                      </button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal1">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title" >Smart watches</h4><br>
                                  <img src="./assets/images/slider-img.png" alt="">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body">
                                   <b>Price:</b> <ins>&#8377;15,000 </ins> <del>&#8377;16,000</del><br>
                                    Cash on Delivery Eligible.<br>
                                    Shipping Speed to Delivery.<br>
                                    Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card<br>
                                    <p class="my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i>
                                        <b>1 Year Manufacturer Warranty</b>
                                        </p>
                                    <ul>
                                        <li class="mb-1">
                                            Mini Smart phone(constant digital companion) 
                                        </li>
                                        <li class="mb-1">
                                            Physical activity tracker.
                                        </li>
                                        <li class="mb-1">
                                            Blood pressure monitor, Heart Rate monitors.
                                        </li>
                                        <li class="mb-1">
                                            Smart navigation.
                                        </li>
                                        <li class="mb-1">
                                            <b>Available colors:</b>green,orange,sky blue.
                                        </li>
                                    </ul>
                                    <p class="my-sm-4 my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i><b>Net banking &amp; Credit/ Debit/ ATM card</b>
                                    </p>
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/watches" (click)="al()">Add to cart</a>
                                </div>
                          
                              </div>
                            </div>
                          </div>
                      <!----->
                    <div class="product-carousel-price">
                        <ins>&#8377;15,000 </ins> <del>&#8377;16,000</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/watches" (click)="al()">Add to cart</a>
                    </div>                       
                </div>
            </div>
            <div class="col-4">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="./assets/images/Rolexwatch.png" alt="">
                    </div>
                     <!---->
                     <button type="button" class="btn " data-toggle="modal" data-target="#myModal2">
                        <h2>Rolex watch</h2>
                      </button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal2">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title" >Rolex watch</h4><br>
                                  <img src="./assets/images/Rolexwatch.png" alt="">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body">
                                   <b>Price:</b><ins>&#8377;5,000</ins> <del>&#8377;5,000</del><br>
                                    Cash on Delivery Eligible.<br>
                                    Shipping Speed to Delivery.<br>
                                    Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card<br>
                                    <p class="my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i>
                                        <b>1 Year Manufacturer Warranty</b>
                                        </p>
                                    <ul>
                                        <li class="mb-1">
                                            <b>Available colors:</b>gold,silver.
                                        </li>
                                    </ul>
                                    <p class="my-sm-4 my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i><b>Net banking &amp; Credit/ Debit/ ATM card</b>
                                    </p>
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/watches" (click)="al()">Add to cart</a>
                                </div>
                          
                              </div>
                            </div>
                          </div>
                      <!----->
                    <div class="product-carousel-price">
                        <ins>&#8377;5,000</ins> <del>&#8377;5,000</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/watches" (click)="al()">Add to cart</a>
                    </div>                       
                </div>
            </div>
            <div class="col-4">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="./assets/images/gorgeous-look-ladies-watch-by-fastrack.jpg" alt="">
                    </div>
                     <!---->
                     <button type="button" class="btn " data-toggle="modal" data-target="#myModal3">
                        <h2>Ladies watch by fastrack</h2>
                      </button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal3">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title" >Ladies watch by fastrack</h4><br>
                                  <img src="./assets/images/gorgeous-look-ladies-watch-by-fastrack.jpg" alt="">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body">
                                   <b>Price:</b><ins>&#8377;3,000</ins> <del>&#8377;4,000</del><br>
                                    Cash on Delivery Eligible.<br>
                                    Shipping Speed to Delivery.<br>
                                    Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card<br>
                                    <p class="my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i>
                                        <b>1 Year Manufacturer Warranty</b>
                                        </p>
                                    <ul>
                                       
                                        <li class="mb-1">
                                            <b>Available colors:</b>green,orange,sky blue.
                                        </li>
                                    </ul>
                                    <p class="my-sm-4 my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i><b>Net banking &amp; Credit/ Debit/ ATM card</b>
                                    </p>
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/watches" (click)="al()">Add to cart</a>
                                </div>
                          
                              </div>
                            </div>
                          </div>
                      <!----->
                    <div class="product-carousel-price">
                        <ins>&#8377;3,000</ins> <del>&#8377;4,000</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/watches" (click)="al()">Add to cart</a>
                    </div>                       
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="./assets/images/smartwatch-321ou-touch-screen-bluetooth.png" alt="">
                    </div>
                     <!---->
                     <button type="button" class="btn " data-toggle="modal" data-target="#myModal4">
                        <h2>Swartwatch 321ou touch</h2>
                      </button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal4">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title" >Swartwatch 321ou touch</h4><br>
                                  <img src="./assets/images/smartwatch-321ou-touch-screen-bluetooth.png" alt="">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body">
                                   <b>Price:</b> <ins>&#8377;12,500</ins> <del>&#8377;12,999</del><br>
                                    Cash on Delivery Eligible.<br>
                                    Shipping Speed to Delivery.<br>
                                    Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card<br>
                                    <p class="my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i>
                                        <b>1 Year Manufacturer Warranty</b>
                                        </p>
                                    <ul>
                                        <li class="mb-1">
                                            Mini Smart phone(constant digital companion) 
                                        </li>
                                        <li class="mb-1">
                                            Physical activity tracker.
                                        </li>
                                        <li class="mb-1">
                                            Blood pressure monitor, Heart Rate monitors.
                                        </li>
                                        <li class="mb-1">
                                            Smart navigation.
                                        </li>
                                        <li class="mb-1">
                                            <b>Available colors:</b>green,orange,sky blue.
                                        </li>
                                    </ul>
                                    <p class="my-sm-4 my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i><b>Net banking &amp; Credit/ Debit/ ATM card</b>
                                    </p>
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/watches" (click)="al()">Add to cart</a>
                                </div>
                          
                              </div>
                            </div>
                          </div>
                      <!----->
                    <div class="product-carousel-price">
                        <ins>&#8377;12,500</ins> <del>&#8377;12,999</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/watches" (click)="al()">Add to cart</a>
                    </div>                       
                </div>
            </div>
            <div class="col-4">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="./assets/images/Titanraga.png" alt="">
                    </div>
                     <!---->
                     <button type="button" class="btn " data-toggle="modal" data-target="#myModal5">
                        <h2>Titan raga</h2>
                      </button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal5">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title" >Titan raga</h4><br>
                                  <img src="./assets/images/Titanraga.png" alt="">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body">
                                   <b>Price:</b> <ins>&#8377;10,490</ins> <del>&#8377;10,490</del><br>
                                    Cash on Delivery Eligible.<br>
                                    Shipping Speed to Delivery.<br>
                                    Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card<br>
                                    <p class="my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i>
                                        <b>1 Year Manufacturer Warranty</b>
                                        </p>
                                    <ul>
                                        <li class="mb-1">
                                            <b>Available colors:</b>gold.
                                        </li>
                                    </ul>
                                    <p class="my-sm-4 my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i><b>Net banking &amp; Credit/ Debit/ ATM card</b>
                                    </p>
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/watches" (click)="al()">Add to cart</a>
                                </div>
                          
                              </div>
                            </div>
                          </div>
                      <!----->
                    <div class="product-carousel-price">
                        <ins>&#8377;10,490</ins> <del>&#8377;10,490</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/watches" (click)="al()">Add to cart</a>
                    </div>                       
                </div>
            </div>
            <div class="col-4">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="./assets/images/ladies-wrist-watch.jpeg" alt="">
                    </div>
                     <!---->
                     <button type="button" class="btn " data-toggle="modal" data-target="#myModal6">
                        <h2>Ladies wrist watch </h2>
                      </button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal6">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title" >Ladies wrist watch </h4><br>
                                  <img src="./assets/images/ladies-wrist-watch.jpeg" alt="">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body">
                                   <b>Price:</b> <ins>&#8377;3,999</ins> <del>&#8377;3,999</del><br>
                                    Cash on Delivery Eligible.<br>
                                    Shipping Speed to Delivery.<br>
                                    Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card<br>
                                    <p class="my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i>
                                        <b>1 Year Manufacturer Warranty</b>
                                        </p>
                                    <ul>
                                        <li class="mb-1">
                                            <b>Available colors:</b>gold,silver,black.
                                        </li>
                                    </ul>
                                    <p class="my-sm-4 my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i><b>Net banking &amp; Credit/ Debit/ ATM card</b>
                                    </p>
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/watches" (click)="al()">Add to cart</a>
                                </div>
                          
                              </div>
                            </div>
                          </div>
                      <!----->
                    <div class="product-carousel-price">
                        <ins>&#8377;3,999</ins> <del>&#8377;3,999</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/watches" (click)="al()">Add to cart</a>
                    </div>                       
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="./assets/images/fitbit-watch-fastrack.png" alt="">
                    </div>
                     <!---->
                     <button type="button" class="btn " data-toggle="modal" data-target="#myModal7">
                        <h2>Fitbit watch by fastrack</h2>
                      </button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal7">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title" >Fitbit watch by fastrack</h4><br>
                                  <img src="./assets/images/fitbit-watch-fastrack.png" alt="">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body">
                                   <b>Price:</b> <ins>&#8377;23,999</ins> <del>&#8377;23,999</del><br>
                                    Cash on Delivery Eligible.<br>
                                    Shipping Speed to Delivery.<br>
                                    Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card<br>
                                    <p class="my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i>
                                        <b>1 Year Manufacturer Warranty</b>
                                        </p>
                                    <ul>
                                        <li class="mb-1">
                                            Mini Smart phone(constant digital companion) 
                                        </li>
                                        <li class="mb-1">
                                            Physical activity tracker.
                                        </li>
                                        <li class="mb-1">
                                            Blood pressure monitor, Heart Rate monitors.
                                        </li>
                                        <li class="mb-1">
                                            Smart navigation.
                                        </li>
                                        <li class="mb-1">
                                            <b>Available colors:</b>green,orange,sky blue.
                                        </li>
                                    </ul>
                                    <p class="my-sm-4 my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i><b>Net banking &amp; Credit/ Debit/ ATM card</b>
                                    </p>
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/watches" (click)="al()">Add to cart</a>
                                </div>
                          
                              </div>
                            </div>
                          </div>
                      <!----->
                    <div class="product-carousel-price">
                        <ins>&#8377;23,999</ins> <del>&#8377;23,999</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/watches" (click)="al()">Add to cart</a>
                    </div>                       
                </div>
            </div>
            <div class="col-4">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="./assets/images/sonata-wrist-watch.jpg" alt="">
                    </div>
                     <!---->
                     <button type="button" class="btn " data-toggle="modal" data-target="#myModal8">
                        <h2>Sonata wrist watch</h2>
                      </button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal8">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title" >Sonata wrist watch</h4><br>
                                  <img src="./assets/images/sonata-wrist-watch.jpg" alt="">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body">
                                   <b>Price:</b> <ins>&#8377;2,000</ins> <del>&#8377;2,000</del><br>
                                    Cash on Delivery Eligible.<br>
                                    Shipping Speed to Delivery.<br>
                                    Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card<br>
                                    <p class="my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i>
                                        <b>1 Year Manufacturer Warranty</b>
                                        </p>
                                    <ul>
                                        <li class="mb-1">
                                            <b>Available colors:</b>gold,silver.
                                        </li>
                                    </ul>
                                    <p class="my-sm-4 my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i><b>Net banking &amp; Credit/ Debit/ ATM card</b>
                                    </p>
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/watches" (click)="al()">Add to cart</a>
                                </div>
                          
                              </div>
                            </div>
                          </div>
                      <!----->
                    <div class="product-carousel-price">
                        <ins>&#8377;2,000</ins> <del>&#8377;2,000</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/watches" (click)="al()">Add to cart</a>
                    </div>                       
                </div>
            </div>
            <div class="col-4">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="./assets/images/sonata-ladies-watch.jpg" alt="">
                    </div>
                     <!---->
                     <button type="button" class="btn " data-toggle="modal" data-target="#myModal9">
                        <h2>Sonata Ladies watch</h2>
                      </button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal9">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title" >Sonata Ladies watch</h4><br>
                                  <img src="./assets/images/sonata-ladies-watch.jpg" alt="">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body">
                                   <b>Price:</b> <ins>&#8377;1,500</ins> <del>&#8377;1,500</del><br>
                                    Cash on Delivery Eligible.<br>
                                    Shipping Speed to Delivery.<br>
                                    Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card<br>
                                    <p class="my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i>
                                        <b>1 Year Manufacturer Warranty</b>
                                        </p>
                                    <ul>
                                        <li class="mb-1">
                                            <b>Available colors:</b>gols,silver,black.
                                        </li>
                                    </ul>
                                    <p class="my-sm-4 my-3">
                                        <i class="fa fa-hand-o-right mr-2"></i><b>Net banking &amp; Credit/ Debit/ ATM card</b>
                                    </p>
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/watches" (click)="al()">Add to cart</a>
                                </div>
                          
                              </div>
                            </div>
                          </div>
                      <!----->
                    <div class="product-carousel-price">
                        <ins>&#8377;1,500</ins> <del>&#8377;1,500</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" routerLink="/categories/watches" (click)="al()">Add to cart</a>
                    </div>                       
                </div>
            </div>
        </div>
</div>
<ul class="pagination pagination-lg justify-content-center" style="margin:20px 0px">
    <li class="page-item disabled"><a class="page-link" href="#"><span><<</span></a></li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#"><span>>></span></a></li>
</ul>


