<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
</head>
<body>
     <!-- slider section -->
     <section class="slider_section ">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container-fluid ">
                <div class="row">
                  <div class="col-md-6">
                    <div class="detail-box">
                      <h1>
                        Smart Watches
                      </h1>
                      <h3>5% OFF</h3>
                      <p>
                         It has features like Fitness Tracking,Alert & Notifications,Messages,Bluetooth
                      </p>
                      <div class="btn-box">
                        <a href="/categories/watches" class="btn1">
                          Shop Now !
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="img-box">
                      <img src=".././assets/images/slider-img.png" alt="no img">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="container-fluid ">
                <div class="row">
                  <div class="col-md-6">
                    <div class="detail-box">
                      <h1>
                        iPhone 12
                      </h1>
                      <h3>
                          15% discount
                      </h3>
                      <p>
                      Hurry up! Limited stock available. 
                      </p>
                      <div class="btn-box">
                        <a href="/categories/mobiles" class="btn1">
                          Shop Now !
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="img-box">
                      <img class="rounded" src=".././assets/images/mobile1.jpg" alt="no img" width="100px" height="425px">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="container-fluid ">
                <div class="row">
                  <div class="col-md-6">
                    <div class="detail-box">
                      <h1>
                        DELL Laptop
                      </h1>
                      <h3>15% OFF</h3>
                      <p>
                        Features:intel Core(i5 processor),8GB RAM,Windows 10,2 GB graphic card.
                      </p>
                      <div class="btn-box">
                        <a href="/categories/laptops" class="btn1">
                          Shop Now !
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="img-box">
                      <img src=".././assets/images/laptop1.png" alt="no img" height="420px">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
          </ol>
        </div>
  
      </section>
      <!-- end slider section -->
      <section class="why_us_section layout_padding">
        <div class="container-fluid">
          <div class="heading_container heading_center">
            <h2>
              Why Choose Us
            </h2>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="box ">
                <div class="img-box">
                  <img src=".././assets/images/w1.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Fast Delivery
                  </h5>
                  <p>
                    We deliver the products vary fastly.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box ">
                <div class="img-box">
                  <img src=".././assets/images/w2.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Free Shiping
                  </h5>
                  <p>
                    We will not charge any shiping charges for products.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box ">
                <div class="img-box">
                  <img src=".././assets/images/w3.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Best Quality
                  </h5>
                  <p>
                    We always deliver Best Quality Products.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<!----->
<div class="container-fluid" id="brand">
<div class="col-12">
  <div class="row" >
    <div class="col-12"><h2 style="text-align: center;font-weight: bold;padding-top: 30px;">Our Partners</h2></div>
  </div>
  <div class="row">
    <div class="col-4"><img src=".././assets/images/brand1.png" alt="no img" ></div>
    <div class="col-4"><img src=".././assets/images/brand2.png" alt="no img" ></div>
    <div class="col-4"><img src=".././assets/images/brand3.png" alt="no img" ></div>
  </div>
  <div class="row">
    <div class="col-4"><img src=".././assets/images/brand4.png" alt="no img" ></div>
    <div class="col-4"><img src=".././assets/images/brand5.png" alt="no img" ></div>
    <div class="col-4"><img src=".././assets/images/brand6.png" alt="no img" ></div>
  </div>
</div>
</div>
</body>
</html>
<app-footer></app-footer>