<app-admin-home></app-admin-home>
<div class="cust">
    <div class="container-fluid">
        <h1 class="display-6">Customers</h1>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Customer Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Registered Date</th>
                </tr>
            </thead>
    
            <tbody>
                
                <tr >
                    <td>1</td>
                    <td>pujitha</td>
                    <td>dubakapujitha@gmail.com</td>
                    <td>8309345491</td>
                    <td>26/1/2021</td>
                </tr>
                <tr >
                    <td>2</td>
                    <td>nikhil</td>
                    <td>nikhil@gmail.com</td>
                    <td>7890235491</td>
                    <td>20/2/2021</td>
                </tr>
                <tr >
                    <td>3</td>
                    <td>john</td>
                    <td>john@gmail.com</td>
                    <td>7535494049</td>
                    <td>4/3/2021</td>
                </tr>
                <tr >
                    <td>4</td>
                    <td>harika</td>
                    <td>harika@gmail.com</td>
                    <td>9764537821</td>
                    <td>10/4/2021</td>
                </tr>
                <tr >
                    <td>5</td>
                    <td>vamshi</td>
                    <td>vamshi@gmail.com</td>
                    <td>7698326791</td>
                    <td>10/5/2021</td>
                </tr>
                <tr >
                    <td>6</td>
                    <td>archana</td>
                    <td>archana@gmail.com</td>
                    <td>8309345491</td>
                    <td>20/5/2021</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
